### Data Collection and Analysis
Dataset collected from kagle
#### PIMA Diabetes Dataset

In [1]:
import pandas as pd
# loading the diabetes dataset to a pandas DataFrame
diabetes_dataset = pd.read_csv('diabetes.csv')

In [2]:
# printing the first 5 rows of the dataset
diabetes_dataset.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [3]:
# number of rows and Columns in this dataset
diabetes_dataset.shape

(768, 9)

In [4]:
# getting the statistical measures of the data
diabetes_dataset.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [5]:
diabetes_dataset['Outcome'].value_counts()

Outcome
0    500
1    268
Name: count, dtype: int64

0 --> Non-Diabetic

1 --> Diabetic

In [6]:
diabetes_dataset.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

### Setting Up the Classification Enviornment

In [7]:
from pycaret.classification import *

In [10]:
clf_setup = setup(data = diabetes_dataset, 
             target = 'Outcome',
           preprocess='scale', 
                 pca=True)

### Soft Voting Ensemble

A soft voting ensemble is a type of ensemble learning method used in machine learning for classification tasks where multiple base models are trained on the same dataset, and they each produce probability estimates for all possible classes.

To make predictions with a soft voting ensemble, the predicted probabilities from each base model are averaged (or weighted averaged) for each class across all base models. The class with the highest average probability is then chosen as the final prediction.

In [11]:
top5 = compare_models(n_select=5, 
                      exclude = ['ridge'])

Processing:   0%|          | 0/65 [00:00<?, ?it/s]

In [12]:
blend_soft = blend_models(estimator_list = top5 ,method = 'soft')

Processing:   0%|          | 0/6 [00:00<?, ?it/s]

In [13]:
tuned = tune_model(blend_soft)

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

In [14]:
pred = predict_model(tuned)

### Calibrating the Model

Calibrating a model is the process of adjusting the predicted probabilities output by a model to better reflect the true probabilities of the outcomes.

When a classification model generates probabilities for each class, these probabilities ideally represent the model's confidence in its predictions. However, these predicted probabilities may not always be well-calibrated, meaning they may not accurately reflect the true likelihood of the corresponding outcomes.

Calibration ensures that the probabilities are reliable and can be interpreted meaningfully.

In [15]:
cali_model = calibrate_model(tuned)

Processing:   0%|          | 0/6 [00:00<?, ?it/s]

In [16]:
pred = predict_model(cali_model)

### Saving the trained model

In [17]:
import pickle

In [18]:
filename = 'diabetes_model_new1.sav'
pickle.dump(cali_model, open(filename, 'wb'))